# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [dev, main]
  pull_request:
    branches: [dev, main]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: self-hosted

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a set of commands using the runners shell
      # based on https://www.youtube.com/watch?v=G6nBM3NxBDc
      - name: Install
        run: |
          # docker permissions
          sudo su - ubuntu
          sudo chmod 666 /var/run/docker.sock

          echo "PARAM_STORE=/dev/env/settings/test" > .env.test
          echo "AWS_REGION_NAME=us-west-2" >> .env.test
          cp .env.test .env

          sudo apt install -y nodejs npm 
          sudo npm install pm2 -g

          sudo apt install -y python3.8-venv
          python3 -m venv venv
          . venv/bin/activate
          curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/get-poetry.py | python3 -
          export PATH=$PATH:$HOME/.poetry/bin
          poetry install
          sudo apt install -y awscli

      - name: Test
        run: |
          sudo getent group docker || sudo groupadd docker
          sudo usermod -aG docker ubuntu
          newgrp docker
          sudo su - ubuntu
          . venv/bin/activate

          pm2 start "python -m app.service.builder_server.builder_server" --name builder
          python -m pytest -s
          pm2 delete all
